.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hyperlink {
  color: #7289da;
}
.hyperlink:hover{
  color: #7289da;
}

.button{
  text-decoration: none;
text-transform: uppercase;
letter-spacing: 2px;
overflow: hidden;
position: relative;
border: solid 2px white;
transform: color 1s;
padding: 30px 60px;
}
.button:hover{
  color: #7289da;
  background-color: #7289da;
}
.button::before{
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 100%;
  background-color: #7289da;
  transform: skewX(35deg);
  z-index: -1;
  transition: width 1s;
}
.button:hover::before{
  width: 150%;
}
.background{
  background-color: #23272a;
  height: 100vh;
  overflow: hidden;
}